@font-face {
    font-family: 'SandboxVR';
    src: url('..../fonts/SandboxVR/sandboxvr-thin.woff2') format('woff2'),
      url('../fonts/SandboxVR/sandboxvr-thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SandboxVR';
    src: url('../fonts/SandboxVR/sandboxvr-thinitalic.woff2') format('woff2'),
      url('../fonts/SandboxVR/sandboxvr-thinitalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SandboxVR';
    src: url('../fonts/SandboxVR/sandboxvr-light.woff2') format('woff2'),
      url('../fonts/SandboxVR/sandboxvr-light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SandboxVR';
    src: url('../fonts/SandboxVR/sandboxvr-lightitalic.woff2') format('woff2'),
      url('../fonts/SandboxVR/sandboxvr-lightitalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SandboxVR';
    src: url('../fonts/SandboxVR/sandboxvr-regular.woff2') format('woff2'),
      url('../fonts/SandboxVR/sandboxvr-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SandboxVR';
    src: url('../fonts/SandboxVR/sandboxvr-regularitalic.woff2') format('woff2'),
      url('../fonts/SandboxVR/sandboxvr-regularitalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SandboxVR';
    src: url('../fonts/SandboxVR/sandboxvr-medium.woff2') format('woff2'),
      url('../fonts/SandboxVR/sandboxvr-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SandboxVR';
    src: url('../fonts/SandboxVR/sandboxvr-mediumitalic.woff2') format('woff2'),
      url('../fonts/SandboxVR/sandboxvr-mediumitalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SandboxVR';
    src: url('../fonts/SandboxVR/sandboxvr-bold.woff2') format('woff2'),
      url('../fonts/SandboxVR/sandboxvr-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SandboxVR';
    src: url('../fonts/SandboxVR/sandboxvr-bolditalic.woff2') format('woff2'),
      url('../fonts/SandboxVR/sandboxvr-bolditalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SandboxVR';
    src: url('../fonts/SandboxVR/sandboxvr-black.woff2') format('woff2'),
      url('../fonts/SandboxVR/sandboxvr-black.woff') format('woff');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SandboxVR';
    src: url('../fonts/SandboxVR/sandboxvr-blackitalic.woff2') format('woff2'),
      url('../fonts/SandboxVR/sandboxvr-blackitalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'SandboxVR';
    src: url('../fonts/SandboxVR/sandboxvr-ultra.woff2') format('woff2'),
      url('../fonts/SandboxVR/sandboxvr-ultra.woff') format('woff');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SandboxVR';
    src: url('../fonts/SandboxVR/sandboxvr-ultraitalic.woff2') format('woff2'),
      url('../fonts/SandboxVR/sandboxvr-ultraitalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
  }
  